#index-bk {
  background: url(../images/body.jpg) no-repeat;
  background-position: top;
}

#about-bk {
  background: url(../images/about-img.jpg) no-repeat;
  background-position: top-left;
  background-color: rgb(237, 237, 237)
}

#color1 {
  background-color: rgb(11, 17, 36);
  height: 400px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  padding-top: 50px;
}

#color2 {
  background-color: rgb(11, 17, 36);
  margin-top: 450px;
  height: 400px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  padding-top: 30px;
}

#footerh1, #footerh2 {
  padding-top: 60px;
}

header ul {
  text-align: right;
  list-style-type: none;
  font-family: 'Pacifico', cursive ;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 2px;
}

header ul a {
  color: #81C2B8;
}

footer {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 16px;
}

footer h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  padding-top: 350px;
  font-size: 28px;
}

#comeback {
  font-family: 'Pacifico', cursive;
  color: white;
}

#copyright {
  font-size: 10px;
  padding-top: 20px;
}

#bottom-img {
  background: url(../images/brain-img.jpg);
  height: 300px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding-top: 250px;
}


#time {
  text-align: center;
  padding-top: 80px;
  padding-right: 5px;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 18px;
}

#icon {
  padding-top: 30px;
}

#icon1 {
  padding-top: 10px;
}

#pinterest {
  padding-right: 5px;
}

#twitter {
  padding-left: 5px;
}

#instagram {
  padding-left: 6px;
}

#logo {
  padding-top: 15px;
}

#logo-about {
  padding-top: 12px;
}

#fancyClock {
  margin: 0;
  position: absolute;
  top: 385px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}

#frame {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding-top: 500px;
  padding-left: 40px;
}

.about {
  padding-top: 250px;
  padding-right: 250px;
  padding-bottom: 250px;
  color: #585858;
  z-index: 2;
  position: relative;
  font-family: 'Lobster', cursive;
}

.menu {
  z-index: 3;
}

#title-about {
  color: #FE642E;
  padding-bottom: 20px;
}

#header-pic {
  padding-bottom: 300px;
}
